/* Press Start 2P */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

/* JetBrains Mono Regular */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

/* JetBrains Mono Bold */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype');
}
