/* Body styles */
body {
    background: rgb(22, 22, 22) center center repeat;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes up at least the full viewport height */
}

/* Wrap styles for the main container */
#wrap {
    width: 70%;
    margin: auto;
    background: rgb(37, 37, 37);
    overflow: hidden;
    padding: 50px;
    position: relative;
    flex-grow: 1;
}


img {
    max-width: 100%; 
    height: auto;
    position: absolute;
}

.chibi {
    top: 100px;
    right: 1700px;
    transform: rotate(25deg);
}

.inu {
    top: 300px;
    right: -10px;
    transform: rotate(-9deg);
}

.headpats {
    top: 590px;
  right: 1750px;
    transform: rotate(-10deg);
}

.fangs {
    top: 100px;
    right: 00px;
    transform: rotate(14deg);
}

.rave {
    top: 300px;
    right: 1700px;
}
.boo {
    top: 730px;
    right: 10px;
    transform: rotate(-15deg);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background: rgb(37, 37, 37);
    margin-top: auto;
}

.positioned {
    position: relative;
    background: rgba(153, 0, 255, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Media query for smaller screens (Mobile) */
@media screen and (max-width: 768px) {
    #wrap {
        width: 90%; /* Makes wrap container take up more space */
        padding: 20px;
    }

    /* Image Adjustments for Mobile */
    .chibi, .inu, .headpats, .fangs, .rave, .boo {
    display: none;   
    
    }

    /* Font size adjustments */
    h1 {
        font-size: 1.8rem; 
    }

    p {
        font-size: 1rem; 
        line-height: 1.6;
    }

    /* Footer text size adjustments */
    .positioned {
        font-size: 0.9rem;
    }
}
